# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# IDEs and Editors
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Python distribution and packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
